@import "/home/alathry/.cache/colors/colors.css";

@define-color bg @background;
@define-color fg @on_background;
@define-color red @primary;                 
@define-color grey @outline_variant;        
@define-color blink-fg @secondary_container;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    font-weight: 900;
    border: none;
    border-radius: 0px;
    min-height: 0px;
    margin: 0rem 0rem 0rem 0rem;
}

window#waybar  {
  background-color: transparent;
}

#waybar > box {
  margin: 2px 17px 5px 8px;
  padding: 2px 0px 2px 0px;
  border-radius: 5px;
  border: 4px ridge @grey;
  background-color: @bg;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
              2px 2px 4px rgba(0, 0, 0, 0.6),
              3px 3px 6px rgba(0, 0, 0, 0.4),
              4px 4px 8px rgba(0, 0, 0, 0.2); 
}

window#waybar.empty #mpris {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.modules-left { margin-left: 5px; }
.modules-right { margin-right: 5px; }

#workspaces {
  background-color: @bg;
  transition: 0.1s ease-in-out;
  margin: 0px;
  padding: 0px;
}

#workspaces button {
  all: initial;
  padding: 0px 9px;
  margin: 0px 1px;
  color: @red;
  opacity: 1;
  font-weight: 900;
  font-size: 12px;
  border-radius: 2px;
}

#workspaces button.active {
  color: @bg;
  border-radius: 2px;
  background-color: @red;
  padding: 0px 9px;
  margin: 0px 1px;
  opacity: 1.0;
}

#workspaces button.empty:hover, 
#workspaces button:hover {
    background: transparent;
    color: @fg;
    transition: all 150ms ease;
}

#workspaces button.empty {
  border-radius: 2px;
  padding: 0px 9px;
  margin: 0px 1px;
  color: alpha(@fg, 0.25);
}

#workspaces button.empty.active {
  background-color: alpha(@fg, 0.5);
  color: @bg;
}

#custom-start {  
  background-image: url("/home/alathry/.config/waybar/themes/Alathry/alathry.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  padding: 1px 8px 1px 8px;
  margin: 0px 5px 0px 0px;
}

#tray,
#mpris,
#battery,
#battery.discharging,
#battery.full,
#battery.plugged,
#battery.charging,
#backlight,
#network,
#network.disconnected,
#network.wifi,
#network.ethernet,
#bluetooth,
#pulseaudio,
#pulseaudio.input,
#pulseaudio.output,
#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver,
#custom-cava,
#custom-clock {
  min-width: 12px;
  color: @fg;
  opacity: 1;
  padding: 1px 8px 1px 8px;
  margin: 0px;
}

#battery,
#battery.discharging,
#battery.charging { padding-right: 14px; }

#power-profiles-daemon.performance {
  padding-right: 4px;
  color: @red;
}

#power-profiles-daemon.power-saver { color: #25e712; }
#power-profiles-daemon.balanced { padding-right: 8px; }

#custom-clock { color: @red; }
#bluetooth { padding-right: 4px; }
#tray { padding-top: 2px; padding-left: 4px; padding-right: 2px; }

tooltip {
 padding: 4px;
 background: @bg;
 font-size: 10px;
 border: 3px ridge @grey;
 border-radius: 8px;
}

tooltip label {
    color: alpha(@fg, 1);
    font-weight: normal;
}

#custom-separator3,
#custom-separator2,
#custom-separator,
#custom-separator6,
#custom-separator5,
#custom-separator4 {
  opacity: 0.35;
  padding: 0px 4px;
  font-size: 10px;
  color: @fg;
}

#custom-cava {
  margin: 0px 6px 0px 0px;
  padding: 0px 9px;
  border-radius: 2px;
  background-color: @red;
  opacity: 1;
  color: @bg;
}

#mpris {
  margin: 0px 6px 0px 8px;
  padding: 0px 9px;
  border-radius: 2px;
  background-color: @red;
  opacity: 1;
  color: @bg;
}

@keyframes blink {
    to { color: @blink-fg; }
}

#network.disconnected,
#battery.warning {
  color: @tertiary;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: @error;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: @tertiary_fixed_dim;
  animation: blink2 0.5s steps(12) infinite alternate;
}

#pulseaudio.warning { color: @secondary; }
#pulseaudio.critical { color: @red; }
