@import url("../../.cache/colors/colors.css");

* {
    font-family: "JetBrainsMono Nerd Font", "Ubuntu Nerd Font", sans-serif;
    font-size: 11px;
    font-weight: bold;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: @background;
    color: @on_background;
}

#workspaces {
    background-color: @surface_container;
    margin: 4px 6px; 
    padding: 2px 4px; 
    border-radius: 6px;
}

#workspaces button {
    padding: 0px 8px; 
    color: @on_surface_variant;
    background-color: transparent;
}

#workspaces button.active {
    color: @background;
    background-color: @surface_tint;
    border-radius: 4px;
}

#workspaces button:hover {
    background-color: @surface_container_highest;
    color: @primary;
    border-radius: 4px;
}


#custom-playerctl {
    color: @secondary;
    padding: 2px 14px;
    background-color: @surface_container; 
    margin: 4px 0px;
    border-radius: 6px;
}
#clock,
#pulseaudio,
#backlight,
#bluetooth,
#network,
#custom-noti
 {
    background-color: @surface_container;
    color: @on_surface;
    padding: 2px 10px; 
    margin: 4px 3px; 
    border-radius: 6px;
}

#clock {
    color: @on_background;
}

#pulseaudio {
    color: @primary;
}

#backlight {
    color: @tertiary;
}

#bluetooth {
    color: @primary_fixed_dim;
}

#network {
    color: @secondary;
}

#network.disconnected {
    color: @error;
}

#cpu {
    color: @on_tertiary_fixed_variant;
}

#custom-noti {
 color: @primary_fixed_dim
}
#memory {
    color: @outline;
}
